{% extends 'layout.html' %}

{% block body %}
<div class = "jumbotron text-center">


  <h1>Welcome to C.A.R.E! </h1>
<p class = "lead">This website will display the predictions from an AI model!</p>
  </div>

<div class = "container">

  <div class="input-group mb-3">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile02">
      <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
    </div>
<!--    <div class="input-group-append">
      <span class="input-group-text" id="">Upload</span>
    </div> -->
  </div>



  <button type="button" class="btn btn-secondary btn-lg">Submit</button>

</div>


{% endblock %}
